@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  padding: 10px 40px;
  margin: 0 5px;
}

.btn-primary {
  background-color: #fcb9b2;
  border-color: white;
}
.btn-primary:hover {
  background-color: #ff9f1c;
  border-color: #ff9f1c;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #bbbbbb;
  border-color: #bbbbbb;
}

.btn-outline-primary {
  color: #0e2a3a;
  border-color: #0e2a3a;
}
.btn-outline-primary:hover {
  background-color: #ff9f1c;
  border-color: #ff9f1c;
}

.nav-link,
.nav-link:hover {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0e2a3a;
}

.form-label {
  color: #333333;
  font-weight: bold;
}
