.muiAppBar {
  // background-color: transparent !important;
  background-color: #1d1914 !important;
  // position: absolute !important;
}

.MuiBox-root {
  position: relative !important;
}

.MuiTableCell-body {
  a {
    color: #ff9f1c;
  }
}

.Mui-completed,
.Mui-active {
  color: #1d1914 !important;
}

.MuiTabs-indicator {
  background-color: #1d1914 !important;
}
